
.s-input input, .s-input select, .s-input textarea {
  width: 100%;
  padding: 12px 8px 12px 8px;
  flex: 1 1 0%;
  border-radius: 4px;
}

.s-input input, .s-input select {
  height: 44px;
}

.s-input .wrapper {
  border: 1px solid #D0D0D0;
  overflow: hidden;
  border-radius: 4px;
}
.s-input textarea::placeholder,
.s-input select::placeholder,
.s-input input::placeholder {
  color: #D0D0D0
}

.s-input input:focus-visible {
  border: 0
}

.bg-black-950 {

  .s-input input {
    background-color: transparent;
    color: #fff
  }
}
